@CHARSET "UTF-8";

body
{
  background-image: url("../img/body.gif");
  font-family: "Eurostile";
  color: #333;
}
  
  div#canvas_wrapper
  {
    height: 512px;
    width: 512px;
    border: solid thin #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #999;
    margin: 50px auto;
  }
  
    canvas#my_canvas
    {
      border-radius: 4px;
    }
    
    div.button_wrapper_1
    { 
      width: 170px;
      height: 50px;
      overflow: hidden;
      margin: 25px auto 0;
    }
    
      button#b0_start_stop,
      button#b2_color
      {
        float: left;
      }
      
      button#b1_reset,
      button#b3_fps
      {
        float: right;
      }
      
      button.clean_gray
      {
        transition: background-color 0.5s linear 0s;
        -webkit-transition: background-color 0.5s linear 0s;
        -moz-transition: background-color 0.5s linear 0s;
        -o-transition: background-color 0.5s linear 0s;
        background-color: #eee;
        background-image: linear-gradient(top, #eee, #ccc);
        border: solid thin #fff;
        border-bottom: solid thin #eff;
        border-radius: 3px;
        box-shadow: 0px 0px 3px #999;
        color: #333;
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        line-height: 1;
        padding: 8px 0;
        text-align: center;
        text-shadow: 0 1px 0 #eee;
        width: 60px;
        margin: 5px 5px;
      }
      
      button.clean_gray:hover
      {
        background-color: #ddd;
        background-image: linear-gradient(top, #ddd, #bbb);
        border: solid thin #fff;
        border-bottom: solid thin #eff;
        cursor: pointer;
        text-shadow: 0 1px 0 #ddd;
      }
      
      button.clean_gray:active
      {
        border: solid thin #aaa;
        border-bottom: solid thin #888;
        box-shadow: 0 0 0 #999;
      }
/*
 ------------------------------STUFF-I-NEED------------------------------
 */
.clr_flt
{
  clear: both;
}

